<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>EMAIL</th>
        <th>OPERATION </th>

    </tr>

    <tr th:each="users : ${allUsers}">
        <td th:text="${users.id}"/>
        <td th:text="${users.firstName}"/>
        <td th:text="${users.lastName}"/>
        <td th:text="${users.email}"/>
<td>
    <a th:href="@{'/users/deleteuser' + ${users.id}}">Delete</a>
    <a th:href="@{'/users/updateuser' + ${users.id}}">Update</a>
</td>
    </tr>
</table>

<a th:href="@{/users/adduser}">Add User</a>


</body>
</html>