<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>EMAIL</th>
        <th>OPERATION </th>

    </tr>

    <tr th:each="users : ${allUsers}">
        <td th:text="${users.id}"/>
        <td th:text="${users.firstName}"/>
        <td th:text="${users.lastName}"/>
        <td th:text="${users.email}"/>
<td>
    <a th:href="@{/users/updateUser(id=${users.getId()})}">Update</a>

</td>
        <td>
    <form th:method="POST" th:action="@{/users/deleteUser(id=${users.getId()})}">
        <input type="submit" value="Delete"/>
        </form>
</td>
    </tr>
</table>

<a th:href="@{/users/addNewUser}">Add User</a>


</body>
</html>